{% extends 'base.html.twig' %}

{% block title %}TypePage index{% endblock %}

{% block body %}
    <h1>TypePage index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Code</th>
                <th>IsSpecial</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for type_page in type_pages %}
            <tr>
                <td>{{ type_page.id }}</td>
                <td>{{ type_page.Name }}</td>
                <td>{{ type_page.Code }}</td>
                <td>{{ type_page.isSpecial ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_x_g_s_b_b_o_type_page_show', {'id': type_page.id}) }}">show</a>
                    <a href="{{ path('app_x_g_s_b_b_o_type_page_edit', {'id': type_page.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_x_g_s_b_b_o_type_page_new') }}">Create new</a>
{% endblock %}
