{% extends 'xgsb/bo/layout.html.twig' %}

{% block title %}XGSB Backoffice - Nouvelle Page{% endblock %}

{% block body %}
<div class="card">
    <div class="card-header d-flex justify-content-between">
        <h1>Gestion de la page : {{ page.Name }}</h1>
        <div class="d-inline-flex align-content-center">
            <a href="{{ path('xgsb_fo_base_page', {'slug': page.slug}) }}" class="btn btn-info align-self-center mx-1"
               target="_blank">
                <span class="icon-eye"></span> Preview
            </a>
            <a href="{{ path('xgsb_bo_page_edit', {'id': page.id}) }}" class="btn btn-primary align-self-center mx-1">
                <span class="icon-edit"></span> Modifier
            </a>
            {{ include('xgsb/bo/page/_delete_form.html.twig') }}
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8">
                <div class="card">
                    <div class="card-header text-bg-primary d-flex justify-content-between">
                        <h2>Struture de la page</h2>
                    </div>
                    <div class="body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Ordre</th>
                                    <th>Nom du module</th>
                                    <th>Type de bloc</th>
                                    <th>Largeur</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for module in page.Modules %}
                                <tr>
                                    <td class="justify-content-around">
                                        {{ module.Ordre }}
                                        {% if not loop.first %}
                                            <a href="{{ path("xgsb_bo_page_upmodule",{"id": module.id}) }}"
                                               class="text-decoration-none"><span class="icon
                                            icon-arrow-up"></span></a>
                                        {% endif %}
                                        {% if not loop.last %}
                                            <a href="#" class="text-decoration-none">
                                                <span class="icon icon-arrow-down"></span>
                                            </a>
                                        {% endif %}
                                    </td>
                                    <td>{{ module.Title }}</td>
                                    <td>{{ module.Type.Name }}</td>
                                    <td>{{ module.ColWidth }}</td>
                                    <td>
                                        <a href="{{ path("xgsb_bo_page_editmodule",{"id": module.id}) }}"
                                           class="btn btn-outline-primary">
                                            Modifier
                                        </a>
                                        <a href="{{ path("xgsb_bo_page_delmodule",{"id": module.id}) }}"
                                           class="btn btn-outline-danger">
                                            Supprimer
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-4">
                <div class="card">
                    <div class="card-header text-bg-primary d-flex justify-content-between">
                        <h2>Ajouter un bloc</h2>
                    </div>
                    <div class="card-body">
                        <div class="overflow-400">
                            {% for tm in typeModules %}
                                {% if tm.Code!="metier" %}
                                <div class="card my-2">
                                    <div class="card-header d-flex justify-content-between">
                                        <h4>{{ tm.Name }}</h4>
                                        <div>
                                            <a href="{{ path("xgsb_bo_page_addModule", {"id":page.id, "tm": tm.id })
                                            }}"
                                               class="btn
                                            btn-outline-primary">
                                                Ajouter
                                            </a>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        {{ tm.Description }}
                                    </div>
                                </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <a href="{{ path('xgsb_bo_page_index') }}" class="btn btn-dark">
            <span class="icon-chevron-left"></span> Retour à la liste
        </a>
    </div>
</div>
{% endblock %}
