{% extends 'xgsb/fo/layout.html.twig' %}

{% block title %}{{ page.title }} Paroisse de Méru{% endblock %}
{% block bodyClass %}{{ page.slug }}{% endblock %}
{% block body %}
    {% for section in page.SectionsPages %}
        <section class="{{ section.BGColor }} my-4 py-4" id="{{ section.Name }}_{{ section.id }}">
            <div class="container">
                <div class="row justify-content-center gx-4 gy-3">
                    {% for module in section.Modules %}
                        <div class="col-12 col-lg-{{ module.colWidth }}" >
                            <div id="{{ module.Type.code }}-{{ module.id }}" class="h-100">
                                {% if module.type.code != "metier"%}
                                    {{ render(controller("App\\Controller\\XGSB\\FO\\ModuleController::index",
                                        { 'module': module.id })) }}
                                {% else %}
                                    {{ include('xgsb/fo/metier/_' ~ page.type.code ~ '.html.twig') }}
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    {% endfor %}

{% endblock %}